.header1 {
  background: var(--dark-gray);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 84px;
  a {
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    .fas {
      font-size: 17px;
    }
    &:hover {
      color: var(--red);
    }
  }
  button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    display: flex;
    padding: 0px;
    margin: 0px;
    .fas {
      font-size: 17px;
    }
  }
  &__collections-nav {
    a,
    form {
      padding-right: 20px;
      display: inline-block;
      &:hover {
        color: var(--red);
      }
    }
  }
  &__collection-link {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;

    .collection-link__sub-links {
      visibility: hidden;
      opacity: 0;
      background: var(--white);
      box-shadow: var(--box-shadow);
      position: absolute;
      padding: 20px 0;
      min-width: 150px;
      top: 20px;
      left: 0;

      a {
        color: var(--black);
        font-size: 0.9rem;
        display: block;
        padding: 10px 20px;
        &:hover {
          color: var(--red);
        }
      }
    }
    &:hover {
      .collection-link__sub-links {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-image {
      margin-right: 2rem;
    }
    .header1__collections-nav {
      a {
        padding-right: 20px;
        display: inline-block;
        font-size: 0.9rem;
        padding: 10px 20px;
      }
    }
    a {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
} 

.announcement__bar {
  background-color: var(--black);
  &--message {
    color: var(--white);
    text-align: center;
    padding: 1rem 2rem;
    margin: 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
